extends layout

block content
    br
    .jumbotron
        p
            | This is place to put content. You can put slider, short description about your website and place some links for navigation.
