extends partials/layout

block content
    br
    .container
        .row
            .col
                h1 About Us
                p.about-us
                    | We are 3 Computer Science senior students who developed this web application.
                    | This website is a COM3504: The Intelligent Web assignment to build a website and a progressive app to search, review and rate restaurants.
        .row
            .col
                h2 Restaurant seeker
                p.about-us
                    | There is a variety of ways that any visitor can find a new and interesting restaurant: searching by name, location or type of cuisine. By choosing one of these approaches you will be able to easily find what you were looking for.
        .row
            .col
                h2 Restaurant owner
                p.about-us
                    | Anyone can create a page for a new restaurant to add to the website. You can add photos, location and select the type cuisine that your restaurant serves. These factors will help visitors find your restaurant more easily.

