extends layout

block content
    div
        div
            nav.navbar.navbar-inverse(role='navigation', style='padding-left:130px;')
                ul.nav.navbar-nav
                    li
                        a(href='/')
                            | Home
                            span.sr-only (current)
                    li.active
                        a(href='/about') About us
                    li
                        a(href='/contact') Contact us
                    li
                        a(href='/other') Other
                    li
                        a(href='/login') Login
                    li
                        a(href='/search') Search
                    li
                        a(href='/accessibility') Accessibility


            br
            .jumbotron
                p
                    | This is place to put content. You can put slider, short description about your website and place some links for navigation.
