extends layout

block content
    br
    h1 About Us
    p.about-us
        | This is a COM3504: The Intelligent Web assignment to build a website and a progressive to search, review and restaurants.
        | Anyone can as well create a page for a new restaurant to add to the website. You can add photos, location and select the type cuisine that your restaurant serves. These factors will help visitors find your restaurant more easily.