extends layout

block content
    br
    .container
        .row
            .col-md-12
                h1 Accessibility
                p.accessibility-text
                    | Restaurant Critique is determined to have its website available to everyone by removing blocks that don't allow some users to experience of our pages.
                p.accessibility-text
                    | We follow standard guidelines of good practice. The website allows the use of keyboard shortcuts.
                h1 Having trouble accessing content?
                p.accessibility-text
                    | If you have trouble experiencing some of pages, please #[a(href='/contact') contact us].
