extends partials/layout

block content
    br
    .container
        .row
            .col-md-6
                h1 Thank you!
                h2 We will reply as soon as possible!
                h5
                    | In the meantime, why don't you check out some new restaurants
                    a(href='restaurants-nearby')  near you
                    |.
