extends mixins/layout

block content
    br
    .container
        .row
            .col
                h1 Get in touch
                p We would love to hear your thoughts on our services
        .row
            .col
                .form-row
                    .form-group.col
                        form(action='/contact' method='POST' id='contact-form')
                            .form-row
                                .form-group.col
                                    label(for='contact-name') Name
                                    input.form-control#contact-name(type='text', name='name', placeholder='Your name' required)
                            .form-row
                                .form-group.col
                                    label(for='contact-email') Email
                                    input.form-control#contact-email(type='text', name='email', placeholder='Your email' required)
                            .form-row
                                .form-group.col
                                    label(for='contact-reference') Reference Number
                                    input.form-control.no-spinner#contact-reference(type='number', name='reference', placeholder='Reference')
                            .form-row
                                .form-group.col
                                    label(for='contact-message') Message
                                    textarea.form-control#contact-message(name='message', placeholder='Your message', required)
                            .form-row
                                .form-group.col
                                    input.btn(type='submit', value='Submit')
