extends layout

block header
    #index-head
        .container
            .row
                .col-md-12
                    form(action='#')#index-search-form
                        input(type='text', placeholder='Placeholder...', name='search')
                        button(type='submit')
                            span.oi.oi-magnifying-glass(aria-hidden='true')

block content
    br
    h1 Heading
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page
    p.test-class
        | This is the index page

