extends layout

block header
    #index-head
        .container
            .row
                .col-md-12
                    form(action='#')#index-search-form
                        input(type='text', placeholder='Placeholder...', name='search')
                        button(type='submit')
                            span.oi.oi-magnifying-glass(aria-hidden='true')

block content
    br
    .container
        .row
            .col-md-4
                h3.index-intro
                    span.oi.oi-check(aria-hidden='true')
                    | Find best restaurants
                img.index-image.img-thumbnail(src="/images/sheffield-centre.jpg" alt="Sheffield centre")
            .col-md-4
                h3.index-intro
                    span.oi.oi-thumb-up(aria-hidden='true')
                    | Review restaurants
                img.index-image.img-thumbnail(src="/images/rate-restaurant.jpg" alt="")
            .col-md-4
                h3.index-intro
                    span.oi.oi-magnifying-glass(aria-hidden='true')
                    |Search by cuisine type
                img.index-image.img-thumbnail(src='/images/cuisine-search.jpg' alt='Pizza')