extends layout

block header
    #index-head
        .container.vert-center-parent
            .row.vert-center-child
                .col-md-12

                    form#index-search-form
                        #main-logo
                        .input-group#index-search-group
                            .input-group-prepend
                                select.btn
                                    option(value='', selected) Quick Filter
                                    optgroup(label='Cuisine')
                                        option Italian
                                        option Asian
                                        option French
                                        option American
                                        option British
                                    optgroup(label='Price Range')
                                        option £
                                        option ££
                                        option £££
                            input.form-control.no-border(type='text', placeholder='Place', aria-label='Text input with dropdown button')
                            .input-group-append
                                button.btn
                                    span.oi.oi-magnifying-glass(aria-hidden='true')

block content
    br
    .container
        .row
            .col-md-4
                h3.index-intro
                    span.oi.oi-check(aria-hidden='true')
                    | Find best restaurants
                img.index-image.img-thumbnail(src="/images/sheffield-centre.jpg" alt="Sheffield centre")
            .col-md-4
                h3.index-intro
                    span.oi.oi-thumb-up(aria-hidden='true')
                    | Review restaurants
                img.index-image.img-thumbnail(src="/images/rate-restaurant.jpg" alt="")
            .col-md-4
                h3.index-intro
                    span.oi.oi-magnifying-glass(aria-hidden='true')
                    |Search by cuisine type
                img.index-image.img-thumbnail(src='/images/cuisine-search.jpg' alt='Pizza')
