extends partials/layout

block content
    if (user)
        script const postcode = `#{user.postcode}`

    br
    .container
        .row
            .col
                h1 Find Restaurants Near You
        .row
            .col
                #nearby-map
        .row
            .col
                #restaurant-list

    script(type='text/javascript', src='/javascripts/restaurants_nearby.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDlmGXTAyXPQy1GX02s8UDm1OLBNz6zia0&callback=initMap')
