extends mixins/layout

block content
    #restaurant-location-overlay
        .vert-center-parent
            .vert-center-child
                #restaurant-location-overlay-confirmation
                    h5 To give you the most accurate results, allow us to access your current location
                    button.btn.btn-danger#deny-location(type='button') No thanks
                    button.btn.btn-success#allow-location(type='button') Sure!


    if (!user)
        script const postcode = 'S1 2JA';
        br
        .container
            .row
                .col
                    h1 Find Restaurants Near You
                    h3#login-warning Login for personalised results and an interactive map!
    else
        script const postcode = `#{user.postcode}`;
        br
        .container
            .row
                .col
                    h1 Find Restaurants Near You
                    h5 Drag the marker on the map to change the search area!
    .container
        .row
            .col
                #nearby-map
        .row
            .col
                #restaurant-list

    script(type='text/javascript', src='/javascripts/restaurants_nearby.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDlmGXTAyXPQy1GX02s8UDm1OLBNz6zia0&callback=initMap')
