extends partials/layout

block content
    br
    .container
        .row
            .col
                h1 Find Restaurants Near You
        .row
            .col
                #nearby-map
        .row
            .col
                button#updateList(onclick="updateList();") Refresh
        .row
            .col
                #restaurant-list
                    .container.nearby-restaurant
                        .row
                            .col
                                .vert-center-parent
                                    a.restaurant-title.d-inline(href='#') The Siam Thai and Teppanyaki
                                    .vert-center-child
                                        img.restaurant-stars(src="images/site/blank-stars.png")
                        .row
                            .col-7
                                p.restaurant-description Airy Asian eatery with Japanese Teppanyaki dining, Thai restaurant and a bar on separate floors.
                            .col-4.offset-1
                                .float-right
                                    #slideshow-wrapper
                                        #slideshow
                                            img.img-slides(src="images/displayPictures/greta-veronika-gmail-com.jpg")
                                            img.img-slides(src="images/displayPictures/aslan-chicken-shop-com.jpg")
                                            img.img-slides(src="images/displayPictures/copeyrufus-gmail-com.jpg")
                                            img.img-slides(src="images/displayPictures/worgarside-gmail-com.jpg")
                                        #button-prev
                                            span.oi.oi-check.oi-chevron-left(aria-hidden='true')
                                        #button-next
                                            span.oi.oi-check.oi-chevron-right(aria-hidden='true')

    script.
        function initMap() {
        }
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDlmGXTAyXPQy1GX02s8UDm1OLBNz6zia0&callback=initMap')
    script(type='text/javascript', src = '/javascripts/restaurants_nearby.js')
