extends mixins/layout

block content
    br
    .container
        .row
            .col
                h1 Restaurant Search
                br
        .row
            .col-10.offset-1
                .card#search-bg-card
                    form#search-form
                        .input-group
                            input.form-control.no-border#search-input(type='text', placeholder='Search by cuisine, keyword, location etc.' autocomplete='off')
                            .input-group-append
                                button.btn.no-border#search-button
                                    span.oi.oi-magnifying-glass
                        .card.mt-4#advanced-search-card
                            .card-header
                                button.btn.btn-link#advanced-search-toggle(data-toggle='collapse' data-target='#advanced-search-collapsible' type='button') Advanced Search
                            .collapse#advanced-search-collapsible
                                .card-body
                                    .row
                                        .col
                                            label#rating-slider-label(for='rating-slider') Minimum Rating
                                            span.oi.oi-star.star-highlight.ml-1.float-right
                                            p.float-right.mb-0#rating-slider-value 0.0
                                            input.form-control#rating-slider(type='range' min='0' max='50' value='0')
                                        //.col
                                            label#distance-slider-label(for='rating-slider') Distance
                                            p.float-right.mb-0#distance-slider-value 50km
                                            input.form-control#distance-slider(type='range' min='0' max='50' value='50')
                                        .col
                                            label#price-range-slider-label(for='rating-slider') Price Range
                                            p.float-right.mb-0#price-range-slider-value Premium
                                            p.small.float-right.mb-0.mr-1.mt-1 Up to
                                            input.form-control#price-range-slider(type='range' min='0' max='3' value='3')
                                    .row
                                        .col
                                            // category
                                    .row
                                        .col
                                            // features
        .row
            .col
                #restaurant-list

    script(type='text/javascript', src='/javascripts/search.js')
