extends mixins/layout

block content
    #restaurant-overlay

    .container
        .row
            .col
                form#index-search-form
                    #main-logo
                    .input-group#index-search-group
                        .input-group-prepend
                            select.btn
                                option(value='', selected) Quick Filter
                                optgroup(label='Cuisine')
                                    option Italian
                                    option Asian
                                    option French
                                    option American
                                    option British
                                optgroup(label='Price Range')
                                    option £
                                    option ££
                                    option £££
                                    option ££££
                        input#search-input.form-control.no-border(name='searchQuery' type='text', placeholder='Search by Cuisine, Keyword, Location etc.', aria-label='Text input with dropdown button', autocomplete='none')
                        .input-group-append
                            button.btn#search-button
                                span.oi.oi-magnifying-glass(aria-hidden='true')
        .row
            .col
                #restaurant-list

    script(type='text/javascript', src='/javascripts/search.js')
