extends partials/layout

block content
    #restaurant-overlay

    .container
        .row
            .col
                h2#restaurant-result-header Your nearest restaurants
                #restaurant-list

    script(type='text/javascript', src='/javascripts/restaurants_nearby.js')
