extends mixins/layout

block content
    #restaurant-overlay

    .container
        .row
            .col
                h2#restaurant-result-header Search Results
                #restaurant-list

    script(type='text/javascript', src='/javascripts/search.js')
