extends mixins/layout

block content
    .container.mt-4
        .row.mt-4
            .col
                h1 Restaurant Critique
        .row.mt-4
            .col
                h2 About Us
                p Restaurant Critique is a up-and-coming website which allows anybody to review, rate, and find resaurants in the United Kingdom. At present, the number of restaurants is limited and restricted mainly to Sheffield - however, we are certain that within the next year we will be the largest restaurant review site in the world. We will dwarf TripAdvisor and Yelp, and even
                    strong &nbsp;Facebook will quiver beneath us!!!

        .row.mt-4
            .col
                h2 Our Users
                p There are a variety of ways that any user can find a new and interesting restaurant: search by name, location, or type of cuisine. Choosing one of these approaches allows any user to easily find the restaurant they are looking for.