extends mixins/layout

block content
    br
    .container
        .row
            .col
                h1 Contact Confirmation
                p.mt-4 Thank you for your correspondence. We will endeavour to reply as soon as possible. In the meantime, why don't you check out some new restaurants
                    a.pre-space(href='restaurants-nearby') near you
                    |.
