extends ../mixins/layout

block content
    .container.full-height
        .row
            .col
                .text-center
                    br
                    br
                    br
                    br
                    h1 404 Page Not Found
                    h5 This URL is not available on this server.