extends ../mixins/layout

block content
    .container.full-height
        .row
            .col
                .text-center
                    br
                    br
                    br
                    br
                    h1 403 Resource Forbidden
                    h5 You do not have permissions to access this page on this server
                    h5 Try logging in if you think you are seeing this page in error

