extends ../mixins/layout

block content
    .container.full-height
        .row
            .col
                .text-center
                    br
                    br
                    br
                    br
                    h1 500 Internal Server Error
                    h5 Sorry, something has gone wrong on our server. Please try again later.