extends ../mixins/layout

block content
    .container.full-height
        .row
            .col
                .text-center
                    br
                    br
                    br
                    br
                    h1 You are Offline
                    h5 Please re-connect to reestablish this functionality