extends ../mixins/layout

block content
    .container.full-height
        .row
            .col
                .text-center
                    br
                    br
                    br
                    br
                    h1 Unable to add your restaurant at this time.
                    h5 Please try again later or contact us
                        a(href='/contact') &nbsp;here

