body {
  font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
nav {
  height: 54px;
  margin-top: -54px;
  background: url("/images/index-head-bg-image.png") no-repeat bottom;
}
nav.navbar.navbar-expand-sm.sticky {
  padding: 0;
}
li.nav-item {
  text-align: center;
}
ul.navbar-nav.mr-auto {
  margin-left: 50px;
}
ul.navbar-nav {
  margin-right: 50px;
}
a.nav-link {
  color: white;
  font-size: 14pt;
  padding: 15px;
  margin: 0 5px;
}
a.nav-link.nav-wide {
  width: 200px;
}
a.nav-link.nav-thin {
  width: 120px;
}
#index-head {
  text-align: center;
  background-size: cover;
  background: url("/images/index-head-bg-image.png") center no-repeat;
  width: 100%;
  height: 360px;
}
#index-search-form {
  position: relative;
  top: 160px;
  height: 40px;
}
#index-search-form input {
  width: 600px;
  height: 100%;
}
#index-search-form button {
  width: 100px;
  height: 100%;
}
