// ================================ LESS Variables ================================ \\

@index-head-height: 22.5;
@index-head-bg-image: "/images/site/index-head-bg-image.png";
@index-head-bg-image: "/images/site/BG1.jpg";
@nav-thin-width: 120;
@nav-wide-width: 200;
@navbar-height: 58px;

@red: #eb0000;
@red-light: #ff6a74;
@green: #00cd00;
@green-dark: #009c00;
@blue: #0061b4;
@orange: #e69200;

@grey-lightest: #efefef;
@grey-lighter: #dbdbdb;
@grey-light: #bdbdbd;
@grey-mid: #919191;
@grey-dark: #818181;
@grey-darker: #555555;
@grey-darkest: #222222;

@background-color: #fdfdfd;
@placeholder-color: @grey-mid;

// ================================ Site Wide ================================ \\

body {
  font-family: 'Lato', sans-serif;
  background-color: @background-color;
  min-height: 100vh;
  position: relative;
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

input.no-spinner[type="number"]::-webkit-outer-spin-button,
input.no-spinner[type="number"]::-webkit-inner-spin-button,
input.no-spinner[type="time"]::-webkit-outer-spin-button,
input.no-spinner[type="time"]::-webkit-inner-spin-button,
input.no-spinner[type="time"]::-webkit-clear-button,
input.no-spinner[type="time"]::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="text"], input[type="number"] {
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: @placeholder-color;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: @placeholder-color;
  }

  &:-ms-input-placeholder { /* Microsoft Edge */
    color: @placeholder-color;
  }
}

.vert-center-parent {
  display: table;
  width: 100%;
  height: 100%;
}

.vert-center-child {
  display: table-cell;
  vertical-align: middle;
  width: 0.1%;
  position: relative;
}

.no-border, .no-border:focus {
  border: 0;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
}

.invisible-label:before {
  content: '-';
  visibility: hidden;
}

.form-control:focus {
  border-color: @grey-dark;
  box-shadow: none;
  -webkit-box-shadow: none;
}

label.error {
  color: @red;
  font-style: italic;
}

.post-space {
  margin-right: 0.5rem;
}

.pre-space {
  margin-left: 0.5rem;
}

span.oi.oi-star {
  font-size: 1.5rem;
  &.star-highlight {
    color: @orange;
  }
}

.rating-value {
  color: @grey-mid;
  font-size: 1.25rem;
}

.pointer {
  cursor: pointer;
}

// ================================ Index Head ================================ \\

#main-logo {
  width: 400px;
  background: url('/images/site/logo-wide-white.png') bottom center no-repeat;
  background-size: contain;
  height: 60px;
  margin: 0 auto 10px auto;
}

#index-head {
  width: 100%;
  background: url(@index-head-bg-image) no-repeat left bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: unit(@index-head-height, rem);
}

#index-search-form {
  margin-top: -@navbar-height/2;
  text-align: center;
}

.input-group#index-search-group {
  width: 800px;
  height: 40px;
  margin: 0 auto;
  button.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100px;
  }

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

#burger-btn {
  @burger-link-width: 16rem;

  cursor: pointer;
  display: none;
  height: @navbar-height;
  width: @navbar-height;
  top: 0;
  margin-top: -@navbar-height;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.75rem 0.5rem;
  transition: all 250ms ease;
  z-index: 10000;
  position: -webkit-sticky;
  position: sticky;
  margin-left: auto;
  background-color: black;

  .bar, &.active .bar {
    width: 70%;
    height: 12.5%;
    background-color: white;
    margin: 0 auto;
    transition: all 250ms ease;
  }

  #burger-links, &.active #burger-links {
    width: @burger-link-width;
    display: block;
    position: absolute;
    left: @navbar-height;
    top: 0;
    background-color: @grey-dark;
    transition: all 250ms ease;

    ul {
      padding-left: 0;
      margin-bottom: 0;
      li {
        list-style-type: none;
        text-align: right;
        a {
          white-space: nowrap;
        }
      }
      hr {
        margin: 0 5px;
        border-color: @grey-lightest;
      }
    }

    #burger-login {
      background-color: @grey-darker;
      display: none;
      input {
        width: 95%;
        margin: 5px auto;
      }
      button {
        margin: 0 5px 5px;
      }

    }
  }

  &.active {
    transform: translateX(-@burger-link-width);
    transition: all 250ms ease;
    #bar {
      &-1 {
        transform: translateY(@navbar-height/5.25) rotate(-45deg);
      }
      &-2 {
        opacity: 0;
      }
      &-3 {
        transform: translateY(-@navbar-height/5.25) rotate(45deg);
      }
    }
  }
}

// ================================ NavBar ================================ \\

#non-index-head {
  height: @navbar-height;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav.navbar.navbar-expand-sm.sticky {
  width: 100%;
  z-index: 1000;
  height: @navbar-height;
  margin-top: -@navbar-height;
  background: url(@index-head-bg-image) no-repeat left bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
}

li.nav-item {
  text-align: center;
}

ul.navbar-nav.mr-auto {
  margin-left: 50px;
}

ul.navbar-nav {
  margin-right: 50px;
}

a.nav-link, a.nav-link.nav-thin#btn-login {
  color: white;
  font-size: 14pt;
  padding: 15px;
  &.nav-wide {
    width: unit(@nav-wide-width, px);
  }
  &.nav-thin {
    width: unit(@nav-thin-width, px);
  }

  &:hover {
    font-weight: 900;
    cursor: pointer;
  }
}

#nav-logo {
  height: @navbar-height;
  width: @navbar-height;
  position: absolute;
  padding: 5px;
  &-anim {
    height: @navbar-height;
    width: @navbar-height;
    position: absolute;
    padding: 5px;
    display: none;
  }
}

#nav-logo-anim img, #nav-logo img {
  max-width: 100%;
  max-height: 100%;
}

#user-profile-image {
  height: @navbar-height - 10;
  width: @navbar-height - 10;
  object-fit: cover;
  border-radius: (@navbar-height - 10)/2;
  position: absolute;
  margin: -10px 0 0 -@navbar-height;
}

// ================================ Login Form ================================ \\

@form-width: 400;
@arrow-height: 20px;
@form-border-width: 5px;

#login-form {
  text-align: center;
  background-color: @grey-dark;
  width: unit(@form-width, px);
  position: fixed;
  z-index: 100001;
  margin-top: unit(@arrow-height, px);
  border: @form-border-width solid @grey-dark;
  border-radius: 10px;
}

#login-form:after, #login-form:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

// Arrow
#login-form:after {
  border: unit(@arrow-height, px) solid transparent;
  border-bottom-color: @grey-dark;
  margin-left: unit(-@arrow-height, px);
}

// Border for arrow
#login-form:before {
  border: unit(@arrow-height + @form-border-width, px) solid transparent;
  border-bottom-color: @grey-dark;
  margin-left: unit(-(@arrow-height + @form-border-width), px);
}

.login-form-input {
  margin-top: 15px;
}

// ================================ Footer ================================ \\

footer {
  margin-top: 500px;
  background-color: @grey-darkest;
  text-align: center;
  font-size: 12pt;
  height: 75px;
  position: absolute;
  bottom: 0;

  a {
    color: @grey-lightest;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }

  p {
    color: @grey-lightest;
  }

  ul, p {
    margin-bottom: 0;
  }

  ul li.list-inline-item {

    &:not(:last-child) {
      margin-right: 0;
    }

    &:not(:first-child):before {
      color: @grey-lightest;
      content: "|";
      margin: 0 15px;
    }
  }

  .footer-left {
    width: 20%;
  }

  .footer-right {
    width: 20%;
  }
}

#footer-buffer {
  height: 125px;
}

// ================================ Signup ================================ \\

#display-picture {
  object-fit: cover;
  cursor: pointer;
  width: 150px;
  height: 150px;
  display: block;
  padding: 1px;
  border: solid 1px black;
  &-upload {
    display: none;
  }
}

.signup-help {
  cursor: help;
  text-underline: @grey-darkest;
}

// ================================ Index ================================ \\

.index-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

#index-carousel {
  margin-top: 1rem;
  border-top: solid 1px @grey-dark;
  border-bottom: solid 1px @grey-dark;
  min-height: 18rem;

  .restaurant-description {
    min-height: 2rem;
  }

  .carousel {
    &-item {
      padding: 2rem;

      .restaurant-category {
        font-size: 1rem;
      }
      img {
        display: inline-block;
        width: 45%;
        height: 170px;
        object-fit: cover;
        margin: 0 0.5rem;
      }
    }

    &-control {
      &-next {
        width: 6%;
        right: -3%;
        &-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        }
      }

      &-prev {
        width: 6%;
        left: -3%;
        &-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        }
      }
    }
  }

  ol.carousel-indicators {
    margin-bottom: 0;

    & li {
      background-color: @grey-lighter;
      &.active {
        background-color: @grey-mid;
      }
    }
  }
}

#res-col-1, #res-col-2, #res-col-3, #res-col-4 {
  p.d-block.restaurant-category {
    margin: 10px;
  }
}

// ================================ New/Edit Restaurant ================================ \\

a.login-helper {
  display: inline;
}

p.login-helper {
  display: none;
}

#new-restaurant-form, #edit-restaurant-form {
  #opening-time, #closing-time {
    text-align: center;
    text-align: -moz-center; // Firefox
    padding-left: 0;
    padding-right: 0;
  }

  #description {
    resize: none;
  }

  button.btn.btn-default#add-times, #lookup-btn {
    width: 100%;
  }

  .address-input {
    &-found {
      &-controls {
        float: right;
        a {
          display: inline-block;
          font-size: 18px;
          color: black;
          padding: 0 5px;
          margin: 0 1px;
        }
      }
    }
  }

  #address {
    &-input-choice .btn-group {
      width: 100%;
    }

    &-lookup {
      &-button {
        width: 50%;
        border-right: solid black 1px;
      }

      &-found {
        display: none;
        &-confirm {
          &-control {
            display: none;
            span {
              &::before {
                font-size: 2rem;
              }
              &:hover {
                cursor: pointer;
                color: @green;
                text-decoration: none;
              }
            }
          }
        }

        &-edit {
          display: none;

          &-control {
            &:hover {
              cursor: pointer;
              color: @blue;
              text-decoration: none;
            }
          }
        }
      }
    }

    &-map {
      &-button {
        width: 50%;
        border-left: solid black 1px;
      }

      &-edit-control:hover {
        cursor: pointer;
        color: @blue;
        text-decoration: none;
      }

      &-map {
        width: 100%;
        height: 300px;

        &-wrapper {
          width: 100%;
          display: none;
        }
      }

      &-text {
        display: none;
      }
    }
  }

  #features {
    @selector-bg-color: @grey-lighter;
    @selector-yes-color: @green;
    @selector-unknown-color: @grey-mid;
    @selector-no-color: @red;
    @selector-height: 1.125rem;

    p {
      margin: 6px 0;
    }

    .wrapper {
      margin: 8px auto;
      width: 5.5rem;
      height: @selector-height;
      position: relative;
      background: @selector-bg-color;
      border-radius: @selector-height/2;

      .selected-highlight {
        cursor: pointer;
        border: solid 2px @selector-bg-color;
        border-radius: 50%;
        width: 20%;
        height: 100%;
        position: absolute;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
      }

      label {
        cursor: pointer;
        width: unit(100/3, %);
        position: absolute;
        display: inline-block;
      }

      input {
        display: none;
      }
    }

    .yes-radio:checked ~ .selected-highlight {
      background: @selector-yes-color;
      left: 80%;
    }

    .unknown-radio:checked ~ .selected-highlight {
      background: @selector-unknown-color;
      left: 40%;
    }
    .no-radio:checked ~ .selected-highlight {
      background: @selector-no-color;
      left: 0;
    }

    .unknown-radio, .unknown-label {
      left: unit(100/3, %);
    }

    .yes-radio, .yes-label {
      left: unit(200/3, %);
    }
  }

  .price-range-label {
    margin: 7px 0 0 0.75rem;
    position: absolute;
    cursor: text;
  }

  #price {
    &-lower {
      display: inline-block;
      padding-left: 1.5rem;
      width: 40%;
    }

    &-to {
      margin: 0 0.85rem;
    }

    &-upper {
      display: inline-block;
      padding-left: 1.5rem;
      width: 40%;
    }
  }

  #restaurant-images {
    .input-group#image-upload-link > * {
      cursor: pointer;
    }

    .input-group#image-upload-link {
      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    #uploaded-images, #existing-images {

      hr {
        margin: 4px 0;
      }

      .row {
        height: 2rem;
      }

      p {
        width: 280px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-left: 0.5rem;
      }

      span > img {
        display: none;
        position: absolute;
        width: 15rem;
        height: auto;
        z-index: 1000;
        right: 0;
      }
      span:hover > img {
        display: block;
      }

      span.oi.oi-image {
        margin-right: 0.5rem;
        &:hover {
          color: @blue;
          cursor: pointer;
        }
      }
    }
  }

  #category {
    &-selected {
      display: none;
      border-radius: 4px 4px 0 0;
      border: @grey-dark solid 1px;
      background-color: white;
      border-bottom: none;
    }

    &-selector {
      input {
      }
    }

    &-dropdown {
      background-color: @background-color;
      display: none;
      text-align: center;
      width: 100%;
      border: @grey-dark solid 1px;
      border-top: none;
      border-radius: 0 0 4px 4px;
    }
  }

  .category {
    &-matched {
      display: inline-block;
      background-color: @grey-lighter;
      margin: 5px 8px;
      border-radius: 2px;

      p {
        font-size: 0.95rem;
        padding: 3px 5px;
        margin: 0;
        color: @grey-dark;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
          cursor: pointer;
          color: @grey-darkest;
        }
      }
    }

    &-selected {
      height: 1.75rem;
      display: inline-block;
      background-color: @grey-lighter;
      margin: 5px 8px;
      border-radius: 2px;

      color: @grey-dark;
      p {
        font-size: 0.95rem;
        padding: 3px 0 3px 8px;
        margin: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      span {
        font-size: 0.8rem;
        padding: 1px 8px;
        cursor: pointer;
        &:hover {
          color: @red;
        }
      }
    }
  }

  #publish-restaurant {
    margin-left: 1rem;
  }
}

// ================================ Restaurants Nearby ================================ \\

#login-warning {
  cursor: pointer;
}

#nearby-map {
  width: 100%;
  height: 725px;
}

.nearby-restaurant {
  width: 80%;

  &:after {
    margin: 0 -5%;
    content: ' ';
    display: block;
    border: 1px solid @grey-light;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  }
}

#restaurant {
  &-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    &-confirmation {
      background-color: @background-color;
      width: 25%;
      border-radius: 10px;
      margin: 0 auto;
      text-align: center;

      h5 {
        padding: 10px;
      }

      button {
        width: 25%;
        margin: 10px;
      }
    }
  }

  &-result-header {
    margin-top: 1em;
    margin-left: 2em;
  }
}

.restaurant {
  &-title {
    font-size: 20pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;

    &.no-hover:hover {
      color: black;
      text-decoration: none;
    }

    &:hover {
      text-decoration: none;
      color: @grey-mid;
    }
  }

  &-address {
    font-size: 13pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 0;
  }

  &-category {
    font-size: 10pt;
    color: @grey-mid;
    background: @grey-lightest;
    border-radius: 2px;
    display: inline-block;
    margin: 10px 5px 10px 0;
    padding: 2px 5px;
  }

  &-category ~ &-category {
    margin: 10px 5px;
  }

  &-description {
    width: 100%;
    color: @grey-darkest;
    margin-bottom: 4px;
  }

  &-feature {
    &-true {
      margin: 5px;
      padding: 5px;
      display: inline-block;
      border-radius: 2px;
      background-color: @grey-lighter;
      border: solid 1px @green;
    }
    &-false {
      color: @grey-mid;
      margin: 5px;
      padding: 5px;
      display: inline-block;
      border-radius: 2px;
      background-color: @grey-lighter;
      border: solid 1px @red;

    }
  }

  &-nearby-images {
    float: right;
  }
}

.slideshow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: black;

  &-wrapper {
    padding: 10px 0 10px 10px;
    width: 240px;
    height: 180px;
  }

  img {
    width: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    margin: auto;
  }
}

.slideshow-prev, .slideshow-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -18px;
  color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slideshow-next {
  right: 15px;
}

.slideshow-prev:hover, .slideshow-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

// ================================ Restaurant Page ================================ \\

#restaurant {
  &-page-override {
    .restaurant-address {
      font-size: 1.5rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      margin-bottom: 0;
      color: @grey-darker;
    }

    #contact-info {
      h4 {
        margin-top: 10px;
      }
      p {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    #restaurant-image-carousel.carousel.slide {
      margin-top: 10px;
      height: 27rem;
      .carousel-inner {
        height: 100%;
        background-color: black;
        .carousel-item, .carousel-item.active {
          height: 100%;
          .d-flex {
            height: 100%;
            justify-content: center;
            img {
              object-fit: contain;
            }
          }
        }
      }
    }

    #reviews {
      .review {
        &-author-image {
          width: 2.5rem;
          height: 2.5rem;
        }

        &-image {
          &-main {
            width: 15rem;
            height: 11.25rem;
            background-color: black;
            text-align: center;
            float: right;
            img {
              max-width: 100%;
              max-height: 100%;
              object-fit: contain;
            }
          }

          &-secondary {
            width: 7.5rem;
            height: 5.5rem;
            background-color: black;
            text-align: center;
            float: right;
            img {
              max-width: 100%;
              max-height: 100%;
              object-fit: contain;
            }
          }

          &-table {
            float: right;
          }
        }

        &-date {
          color: @grey-mid;
        }
      }
    }

  }
}

#full-screen-image-viewer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  display: none;

  span.oi.oi-x#close-button {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
    margin: 54px 0 1rem 0;
    z-index: 1000001;
  }

  table {
    background-color: black;
    height: 810px;
    &, td {
      padding: 0;
      margin: 0 auto;
    }

    td#first-image {
      width: 1080px;
      height: 810px;
      img#main-image {
        height: 100%;
        max-width: 100%;
        object-fit: contain;
      }
      #author-info {
        position: absolute;
        margin-top: -5rem;
        background-color: rgba(0, 0, 0, 0.25);
        margin-left: 1rem;
        img#author-image {
          width: 3rem;
          height: 3rem;
          margin: 0.5rem;
        }
        p {
          color: white;
          margin: 0 1rem;
        }
      }

      #next-image, #prev-image {
        position: absolute;
        width: 100px;
        cursor: pointer;
        height: inherit;
        margin-top: -810px;

        span {
          position: absolute;
          padding: 20px;
          margin: -10px 0 0 -20px;
        }
      }

      #prev-image {
        &:hover span {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23bdbdbd' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        }
        span {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23555555' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        }
      }

      #next-image {
        margin-left: 980px;
        &:hover span {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23bdbdbd' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        }
        span {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23555555' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        }
      }

    }
    td#second-image, td#third-image, td#fourth-image {
      text-align: center;
      height: 270px;
      width: 360px;
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}

canvas#canvas {
  display: none;
}

button#confirmphoto {
  display: none;
}

button#retakephoto {
  display: none;
}

input#uploadedFile {
  display: none;
}

// ================================ Star Icons ================================ \\

.stars {
  direction: rtl;
  unicode-bidi: bidi-override;
  color: @grey-mid;
  font-size: 30px;

  label {
    margin: 0;
    &.star {
      padding: 6px;
    }
  }
}

input.star {
  display: none;
}

// Current star and all ancestors
input.star:checked label.star span::before,
input.star:checked ~ label.star span::before {
  color: @orange;
}

// Hover star and all ancestors
label.star:hover,
label.star:hover ~ label.star span::before {
  color: @orange;
}

// ================================ Restaurant Map ================================ \\

#restaurant-current-map {
  width: 100%;
  height: 28rem;
}

// ================================ User Management ================================ \\

.card {
  &-header {
    border-bottom: none;
    padding: 0;

    button {
      font-size: 16pt;
      color: @grey-darker;
      display: block;
      padding: 1rem 1.25rem;
      width: 100%;
      text-align: left;

      &:hover {
        text-decoration: none;
        color: @grey-light;
      }

      &:focus {
        text-decoration: none;
      }
    }
  }

  .new {
    display: none;
  }

  .collapse.show, .collapsing {
    border-top: @grey-lighter 1px solid;
  }
}

#collapse-details {
  #first, #last, #postcode, #old-password, #new-password, #new-password-confirm {
    width: 40%;
    margin-left: 1rem;
  }

  #password-divider {
    width: 40%;
    margin: 3px 1rem;
    border-top: @grey-mid 1px solid;
  }

  #incorrect-old-password {
    margin-left: 1rem;
    padding: 6px 18px;
    display: none;
  }

}

// ================================ Responsive Reflow ================================ \\

@media (max-width: 992px) {
  .input-group#index-search-group {
    width: 500px;
  }

  // hide navbar contents and show hamburger menu
  nav.navbar.navbar-expand-sm.sticky {
    position: unset;
    ul {
      display: none;
    }
  }

  a.login-helper {
    display: none;
  }

  p.login-helper {
    display: inline;
  }

  #burger-btn {
    display: flex;
  }

  p.restaurant-feature-false {
    display: none;
  }

  footer {
    font-size: 10pt;
    ul li.list-inline-item {
      &:not(:first-child):before {
        content: "";
        margin: 0;
      }
      margin: 0 10px;
    }
  }

  .restaurant-nearby-images {
    float: none;
    .slideshow-wrapper {
      display: block;
      margin: 0 auto;
    }
  }

  #res-col-4 {
    display: none;
  }

  img.index-image {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .col #contact-info {
    width: 100%;
  }

  #restaurant-page-override #reviews .vert-center-child#review-image-container .review-image-main,
  #restaurant-page-override #reviews .vert-center-child#review-image-container #review-image-table {
    float: unset;
    margin: 0 auto;
  }

  img #restaurant-list .slideshow-wrapper.slideshow {
    float: none;
  }

  #res-col-3 {
    display: none;
  }
}

@media (max-width: 576px) {
  // hide navbar contents and show hamburger menu
  #res-col-2 {
    display: none;
  }
}

