body {
  font-family: 'Lato', sans-serif;
  background-color: #fdfdfd;
  min-height: 100vh;
  position: relative;
  margin: 0;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
input.no-spinner[type="number"]::-webkit-outer-spin-button,
input.no-spinner[type="number"]::-webkit-inner-spin-button,
input.no-spinner[type="time"]::-webkit-outer-spin-button,
input.no-spinner[type="time"]::-webkit-inner-spin-button,
input.no-spinner[type="time"]::-webkit-clear-button,
input.no-spinner[type="time"]::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="text"]::placeholder,
input[type="number"]::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 1;
  /* Firefox */
}
input[type="text"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #919191;
}
input[type="text"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #919191;
}
.vert-center-parent {
  display: table;
  width: 100%;
  height: 100%;
}
.vert-center-child {
  display: table-cell;
  vertical-align: middle;
  width: 0.1%;
  position: relative;
}
.no-border,
.no-border:focus {
  border: 0;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
}
.invisible-label:before {
  content: '-';
  visibility: hidden;
}
.form-control:focus {
  border-color: #818181;
  box-shadow: none;
  -webkit-box-shadow: none;
}
label.error {
  color: #eb0000;
  font-style: italic;
}
.post-space {
  margin-right: 0.5rem;
}
.pre-space {
  margin-left: 0.5rem;
}
span.oi.oi-star {
  font-size: 1.5rem;
}
span.oi.oi-star.star-highlight {
  color: #e69200;
}
.rating-value {
  color: #919191;
  font-size: 1.25rem;
}
.pointer {
  cursor: pointer;
}
#navbar-search {
  width: 20rem;
}
#navbar-search input#navbar-search-input {
  margin-top: 4px;
  height: 2.5rem;
  display: inline-block;
  width: 2.5rem;
  border-radius: 1.25rem;
  padding-left: 1.25rem;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  position: absolute;
  outline: none;
}
#navbar-search input#navbar-search-input.active {
  width: 20rem;
  transition: all ease .5s;
}
#navbar-search-button {
  margin-top: 4px;
  left: 0;
  display: inline-block;
  background-color: white;
  cursor: pointer;
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1.25rem;
}
#navbar-search-button span {
  margin: 24%;
  position: absolute;
  font-size: 1.25rem;
}
#navbar-search-button.active {
  left: 17.5rem;
  transition: all ease .5s;
}
#main-logo {
  width: 400px;
  background: url('/images/site/logo-wide-white.png') bottom center no-repeat;
  background-size: contain;
  height: 60px;
  margin: 0 auto 10px auto;
}
#index-head {
  width: 100%;
  background: url("/images/site/BG1.jpg") no-repeat left bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 22.5rem;
}
#index-search-form {
  margin-top: -29px;
  text-align: center;
}
.input-group#index-search-group {
  width: 800px;
  height: 40px;
  margin: 0 auto;
}
.input-group#index-search-group button.btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 100px;
}
.input-group#index-search-group input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#burger-btn {
  cursor: pointer;
  display: none;
  height: 58px;
  width: 58px;
  top: 0;
  margin-top: -58px;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.75rem 0.5rem;
  transition: all 250ms ease;
  z-index: 10000;
  position: -webkit-sticky;
  position: sticky;
  margin-left: auto;
  background-color: black;
}
#burger-btn .bar,
#burger-btn.active .bar {
  width: 70%;
  height: 12.5%;
  background-color: white;
  margin: 0 auto;
  transition: all 250ms ease;
}
#burger-btn #burger-links,
#burger-btn.active #burger-links {
  width: 16rem;
  display: block;
  position: absolute;
  left: 58px;
  top: 0;
  background-color: #818181;
  transition: all 250ms ease;
}
#burger-btn #burger-links ul,
#burger-btn.active #burger-links ul {
  padding-left: 0;
  margin-bottom: 0;
}
#burger-btn #burger-links ul li,
#burger-btn.active #burger-links ul li {
  list-style-type: none;
  text-align: right;
}
#burger-btn #burger-links ul li a,
#burger-btn.active #burger-links ul li a {
  white-space: nowrap;
}
#burger-btn #burger-links ul hr,
#burger-btn.active #burger-links ul hr {
  margin: 0 5px;
  border-color: #efefef;
}
#burger-btn #burger-links #burger-login,
#burger-btn.active #burger-links #burger-login {
  background-color: #555555;
  display: none;
}
#burger-btn #burger-links #burger-login input,
#burger-btn.active #burger-links #burger-login input {
  width: 95%;
  margin: 5px auto;
}
#burger-btn #burger-links #burger-login button,
#burger-btn.active #burger-links #burger-login button {
  margin: 0 5px 5px;
}
#burger-btn.active {
  transform: translateX(-16rem);
  transition: all 250ms ease;
}
#burger-btn.active #bar-1 {
  transform: translateY(11.04761905px) rotate(-45deg);
}
#burger-btn.active #bar-2 {
  opacity: 0;
}
#burger-btn.active #bar-3 {
  transform: translateY(-11.04761905px) rotate(45deg);
}
#non-index-head {
  height: 58px;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
nav.navbar.navbar-expand-sm.sticky {
  width: 100%;
  z-index: 1000;
  height: 58px;
  margin-top: -58px;
  background: url("/images/site/BG1.jpg") no-repeat left bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
}
li.nav-item {
  text-align: center;
}
ul.navbar-nav.mr-auto {
  margin-left: 50px;
}
ul.navbar-nav {
  margin-right: 50px;
}
a.nav-link,
a.nav-link.nav-thin#btn-login {
  color: white;
  font-size: 14pt;
  padding: 15px;
}
a.nav-link.nav-wide,
a.nav-link.nav-thin#btn-login.nav-wide {
  width: 200px;
}
a.nav-link.nav-thin,
a.nav-link.nav-thin#btn-login.nav-thin {
  width: 120px;
}
a.nav-link:hover,
a.nav-link.nav-thin#btn-login:hover {
  font-weight: 900;
  cursor: pointer;
}
#nav-logo {
  height: 58px;
  width: 58px;
  position: absolute;
  padding: 5px;
}
#nav-logo-anim {
  height: 58px;
  width: 58px;
  position: absolute;
  padding: 5px;
  display: none;
}
#nav-logo-anim img,
#nav-logo img {
  max-width: 100%;
  max-height: 100%;
}
#user-profile-image {
  height: 48px;
  width: 48px;
  object-fit: cover;
  border-radius: 24px;
  position: absolute;
  margin: -10px 0 0 -58px;
}
#login-form {
  text-align: center;
  background-color: #818181;
  width: 400px;
  position: fixed;
  z-index: 100001;
  margin-top: 20px;
  border: 5px solid #818181;
  border-radius: 10px;
}
#login-form:after,
#login-form:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#login-form:after {
  border: 20px solid transparent;
  border-bottom-color: #818181;
  margin-left: -20px;
}
#login-form:before {
  border: 25px solid transparent;
  border-bottom-color: #818181;
  margin-left: -25px;
}
.login-form-input {
  margin-top: 15px;
}
footer {
  margin-top: 500px;
  background-color: #222222;
  text-align: center;
  font-size: 12pt;
  height: 75px;
  position: absolute;
  bottom: 0;
}
footer a {
  color: #efefef;
}
footer a:hover {
  text-decoration: none;
  color: white;
}
footer p {
  color: #efefef;
}
footer ul,
footer p {
  margin-bottom: 0;
}
footer ul li.list-inline-item:not(:last-child) {
  margin-right: 0;
}
footer ul li.list-inline-item:not(:first-child):before {
  color: #efefef;
  content: "|";
  margin: 0 15px;
}
footer .footer-left {
  width: 20%;
}
footer .footer-right {
  width: 20%;
}
#footer-buffer {
  height: 125px;
}
#display-picture {
  object-fit: cover;
  cursor: pointer;
  width: 150px;
  height: 150px;
  display: block;
  padding: 1px;
  border: solid 1px black;
}
#display-picture-upload {
  display: none;
}
.signup-help {
  cursor: help;
  text-underline: #222222;
}
.index-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
#index-carousel {
  margin-top: 1rem;
  border-top: solid 1px #818181;
  border-bottom: solid 1px #818181;
  min-height: 18rem;
}
#index-carousel .restaurant-description {
  min-height: 2rem;
}
#index-carousel .carousel-item {
  padding: 2rem;
}
#index-carousel .carousel-item .restaurant-category {
  font-size: 1rem;
}
#index-carousel .carousel-item img {
  display: inline-block;
  width: 45%;
  height: 170px;
  object-fit: cover;
  margin: 0 0.5rem;
}
#index-carousel .carousel-control-next {
  width: 6%;
  right: -3%;
}
#index-carousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
#index-carousel .carousel-control-prev {
  width: 6%;
  left: -3%;
}
#index-carousel .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
#index-carousel ol.carousel-indicators {
  margin-bottom: 0;
}
#index-carousel ol.carousel-indicators li {
  background-color: #dbdbdb;
}
#index-carousel ol.carousel-indicators li.active {
  background-color: #919191;
}
#res-col-1 p.d-block.restaurant-category,
#res-col-2 p.d-block.restaurant-category,
#res-col-3 p.d-block.restaurant-category,
#res-col-4 p.d-block.restaurant-category {
  margin: 10px;
}
a.login-helper {
  display: inline;
}
p.login-helper {
  display: none;
}
#new-restaurant-form #opening-time,
#edit-restaurant-form #opening-time,
#new-restaurant-form #closing-time,
#edit-restaurant-form #closing-time {
  text-align: center;
  text-align: -moz-center;
  padding-left: 0;
  padding-right: 0;
}
#new-restaurant-form #description,
#edit-restaurant-form #description {
  resize: none;
}
#new-restaurant-form button.btn.btn-default#add-times,
#edit-restaurant-form button.btn.btn-default#add-times,
#new-restaurant-form #lookup-btn,
#edit-restaurant-form #lookup-btn {
  width: 100%;
}
#new-restaurant-form .address-input-found-controls,
#edit-restaurant-form .address-input-found-controls {
  float: right;
}
#new-restaurant-form .address-input-found-controls a,
#edit-restaurant-form .address-input-found-controls a {
  display: inline-block;
  font-size: 18px;
  color: black;
  padding: 0 5px;
  margin: 0 1px;
}
#new-restaurant-form #address-input-choice .btn-group,
#edit-restaurant-form #address-input-choice .btn-group {
  width: 100%;
}
#new-restaurant-form #address-lookup-button,
#edit-restaurant-form #address-lookup-button {
  width: 50%;
  border-right: solid black 1px;
}
#new-restaurant-form #address-lookup-found,
#edit-restaurant-form #address-lookup-found {
  display: none;
}
#new-restaurant-form #address-lookup-found-confirm-control,
#edit-restaurant-form #address-lookup-found-confirm-control {
  display: none;
}
#new-restaurant-form #address-lookup-found-confirm-control span::before,
#edit-restaurant-form #address-lookup-found-confirm-control span::before {
  font-size: 2rem;
}
#new-restaurant-form #address-lookup-found-confirm-control span:hover,
#edit-restaurant-form #address-lookup-found-confirm-control span:hover {
  cursor: pointer;
  color: #00cd00;
  text-decoration: none;
}
#new-restaurant-form #address-lookup-found-edit,
#edit-restaurant-form #address-lookup-found-edit {
  display: none;
}
#new-restaurant-form #address-lookup-found-edit-control:hover,
#edit-restaurant-form #address-lookup-found-edit-control:hover {
  cursor: pointer;
  color: #0061b4;
  text-decoration: none;
}
#new-restaurant-form #address-map-button,
#edit-restaurant-form #address-map-button {
  width: 50%;
  border-left: solid black 1px;
}
#new-restaurant-form #address-map-edit-control:hover,
#edit-restaurant-form #address-map-edit-control:hover {
  cursor: pointer;
  color: #0061b4;
  text-decoration: none;
}
#new-restaurant-form #address-map-map,
#edit-restaurant-form #address-map-map {
  width: 100%;
  height: 300px;
}
#new-restaurant-form #address-map-map-wrapper,
#edit-restaurant-form #address-map-map-wrapper {
  width: 100%;
  display: none;
}
#new-restaurant-form #address-map-text,
#edit-restaurant-form #address-map-text {
  display: none;
}
#new-restaurant-form #features p,
#edit-restaurant-form #features p {
  margin: 6px 0;
}
#new-restaurant-form #features .wrapper,
#edit-restaurant-form #features .wrapper {
  margin: 8px auto;
  width: 5.5rem;
  height: 1.125rem;
  position: relative;
  background: #dbdbdb;
  border-radius: 0.5625rem;
}
#new-restaurant-form #features .wrapper .selected-highlight,
#edit-restaurant-form #features .wrapper .selected-highlight {
  cursor: pointer;
  border: solid 2px #dbdbdb;
  border-radius: 50%;
  width: 20%;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#new-restaurant-form #features .wrapper label,
#edit-restaurant-form #features .wrapper label {
  cursor: pointer;
  width: 33.33333333%;
  position: absolute;
  display: inline-block;
}
#new-restaurant-form #features .wrapper input,
#edit-restaurant-form #features .wrapper input {
  display: none;
}
#new-restaurant-form #features .yes-radio:checked ~ .selected-highlight,
#edit-restaurant-form #features .yes-radio:checked ~ .selected-highlight {
  background: #00cd00;
  left: 80%;
}
#new-restaurant-form #features .unknown-radio:checked ~ .selected-highlight,
#edit-restaurant-form #features .unknown-radio:checked ~ .selected-highlight {
  background: #919191;
  left: 40%;
}
#new-restaurant-form #features .no-radio:checked ~ .selected-highlight,
#edit-restaurant-form #features .no-radio:checked ~ .selected-highlight {
  background: #eb0000;
  left: 0;
}
#new-restaurant-form #features .unknown-radio,
#edit-restaurant-form #features .unknown-radio,
#new-restaurant-form #features .unknown-label,
#edit-restaurant-form #features .unknown-label {
  left: 33.33333333%;
}
#new-restaurant-form #features .yes-radio,
#edit-restaurant-form #features .yes-radio,
#new-restaurant-form #features .yes-label,
#edit-restaurant-form #features .yes-label {
  left: 66.66666667%;
}
#new-restaurant-form .price-range-label,
#edit-restaurant-form .price-range-label {
  margin: 7px 0 0 0.75rem;
  position: absolute;
  cursor: text;
}
#new-restaurant-form #price-lower,
#edit-restaurant-form #price-lower {
  display: inline-block;
  padding-left: 1.5rem;
  width: 40%;
}
#new-restaurant-form #price-to,
#edit-restaurant-form #price-to {
  margin: 0 0.85rem;
}
#new-restaurant-form #price-upper,
#edit-restaurant-form #price-upper {
  display: inline-block;
  padding-left: 1.5rem;
  width: 40%;
}
#new-restaurant-form #restaurant-images .input-group#image-upload-link > *,
#edit-restaurant-form #restaurant-images .input-group#image-upload-link > * {
  cursor: pointer;
}
#new-restaurant-form #restaurant-images .input-group#image-upload-link button,
#edit-restaurant-form #restaurant-images .input-group#image-upload-link button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#new-restaurant-form #restaurant-images #uploaded-images hr,
#edit-restaurant-form #restaurant-images #uploaded-images hr,
#new-restaurant-form #restaurant-images #existing-images hr,
#edit-restaurant-form #restaurant-images #existing-images hr {
  margin: 4px 0;
}
#new-restaurant-form #restaurant-images #uploaded-images .row,
#edit-restaurant-form #restaurant-images #uploaded-images .row,
#new-restaurant-form #restaurant-images #existing-images .row,
#edit-restaurant-form #restaurant-images #existing-images .row {
  height: 2rem;
}
#new-restaurant-form #restaurant-images #uploaded-images p,
#edit-restaurant-form #restaurant-images #uploaded-images p,
#new-restaurant-form #restaurant-images #existing-images p,
#edit-restaurant-form #restaurant-images #existing-images p {
  width: 280px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 0.5rem;
}
#new-restaurant-form #restaurant-images #uploaded-images span > img,
#edit-restaurant-form #restaurant-images #uploaded-images span > img,
#new-restaurant-form #restaurant-images #existing-images span > img,
#edit-restaurant-form #restaurant-images #existing-images span > img {
  display: none;
  position: absolute;
  width: 15rem;
  height: auto;
  z-index: 1000;
  right: 0;
}
#new-restaurant-form #restaurant-images #uploaded-images span:hover > img,
#edit-restaurant-form #restaurant-images #uploaded-images span:hover > img,
#new-restaurant-form #restaurant-images #existing-images span:hover > img,
#edit-restaurant-form #restaurant-images #existing-images span:hover > img {
  display: block;
}
#new-restaurant-form #restaurant-images #uploaded-images span.oi.oi-image,
#edit-restaurant-form #restaurant-images #uploaded-images span.oi.oi-image,
#new-restaurant-form #restaurant-images #existing-images span.oi.oi-image,
#edit-restaurant-form #restaurant-images #existing-images span.oi.oi-image {
  margin-right: 0.5rem;
}
#new-restaurant-form #restaurant-images #uploaded-images span.oi.oi-image:hover,
#edit-restaurant-form #restaurant-images #uploaded-images span.oi.oi-image:hover,
#new-restaurant-form #restaurant-images #existing-images span.oi.oi-image:hover,
#edit-restaurant-form #restaurant-images #existing-images span.oi.oi-image:hover {
  color: #0061b4;
  cursor: pointer;
}
#new-restaurant-form #category-selected,
#edit-restaurant-form #category-selected {
  display: none;
  border-radius: 4px 4px 0 0;
  border: #818181 solid 1px;
  background-color: white;
  border-bottom: none;
}
#new-restaurant-form #category-dropdown,
#edit-restaurant-form #category-dropdown {
  background-color: #fdfdfd;
  display: none;
  text-align: center;
  width: 100%;
  border: #818181 solid 1px;
  border-top: none;
  border-radius: 0 0 4px 4px;
}
#new-restaurant-form .category-matched,
#edit-restaurant-form .category-matched {
  display: inline-block;
  background-color: #dbdbdb;
  margin: 5px 8px;
  border-radius: 2px;
}
#new-restaurant-form .category-matched p,
#edit-restaurant-form .category-matched p {
  font-size: 0.95rem;
  padding: 3px 5px;
  margin: 0;
  color: #818181;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#new-restaurant-form .category-matched p:hover,
#edit-restaurant-form .category-matched p:hover {
  cursor: pointer;
  color: #222222;
}
#new-restaurant-form .category-selected,
#edit-restaurant-form .category-selected {
  height: 1.75rem;
  display: inline-block;
  background-color: #dbdbdb;
  margin: 5px 8px;
  border-radius: 2px;
  color: #818181;
}
#new-restaurant-form .category-selected p,
#edit-restaurant-form .category-selected p {
  font-size: 0.95rem;
  padding: 3px 0 3px 8px;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#new-restaurant-form .category-selected span,
#edit-restaurant-form .category-selected span {
  font-size: 0.8rem;
  padding: 1px 8px;
  cursor: pointer;
  top: -1px;
}
#new-restaurant-form .category-selected span:hover,
#edit-restaurant-form .category-selected span:hover {
  color: #eb0000;
}
#new-restaurant-form #publish-restaurant,
#edit-restaurant-form #publish-restaurant {
  margin-left: 1rem;
}
#login-warning {
  cursor: pointer;
}
#login-warning:hover {
  text-decoration: underline;
}
#nearby-map {
  width: 100%;
  height: 36rem;
}
.restaurant-card {
  width: 80%;
}
.restaurant-card:after {
  margin: 0 -5%;
  content: ' ';
  display: block;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.restaurant-card-map-link img {
  height: 1.5rem;
}
#restaurant-location-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
#restaurant-location-overlay-confirmation {
  background-color: #fdfdfd;
  width: 40%;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
}
#restaurant-location-overlay-confirmation h5 {
  padding: 10px;
}
#restaurant-location-overlay-confirmation button {
  min-width: 7rem;
  margin: 10px;
}
#restaurant-result-header {
  margin-left: 4rem;
}
a.restaurant-address:hover {
  text-decoration: none;
  font-weight: 400;
  color: black;
}
.restaurant-title {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: black;
}
.restaurant-title.no-hover:hover {
  color: black;
  text-decoration: none;
}
.restaurant-title:hover {
  text-decoration: none;
  color: #919191;
}
.restaurant-address {
  font-size: 13pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
  color: #222222;
}
.restaurant-category {
  font-size: 10pt;
  color: #919191;
  background: #efefef;
  border-radius: 2px;
  display: inline-block;
  margin: 10px 5px 10px 0;
  padding: 2px 5px;
  cursor: pointer;
}
.restaurant-category:hover {
  background: #dbdbdb;
}
.restaurant-category ~ .restaurant-category {
  margin: 10px 5px;
}
.restaurant-description {
  width: 100%;
  color: #222222;
  margin-bottom: 4px;
}
.restaurant-feature-true {
  margin: 5px;
  padding: 5px;
  display: inline-block;
  border-radius: 2px;
  background-color: #dbdbdb;
  border: solid 1px #00cd00;
}
.restaurant-feature-false {
  color: #919191;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  border-radius: 2px;
  background-color: #dbdbdb;
  border: solid 1px #eb0000;
}
.restaurant-nearby-images {
  float: right;
}
.slideshow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: black;
}
.slideshow-wrapper {
  padding: 10px 0 10px 10px;
  width: 240px;
  height: 180px;
}
.slideshow img {
  width: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  margin: auto;
}
.slideshow-prev,
.slideshow-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -18px;
  color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slideshow-next {
  right: 15px;
}
.slideshow-prev:hover,
.slideshow-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#restaurant-page-override .restaurant-address {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
  color: #555555;
}
#restaurant-page-override #contact-info h4 {
  margin-top: 10px;
}
#restaurant-page-override #contact-info p {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#restaurant-page-override #restaurant-image-carousel.carousel.slide {
  margin-top: 10px;
  height: 27rem;
}
#restaurant-page-override #restaurant-image-carousel.carousel.slide .carousel-inner {
  height: 100%;
  background-color: black;
}
#restaurant-page-override #restaurant-image-carousel.carousel.slide .carousel-inner .carousel-item,
#restaurant-page-override #restaurant-image-carousel.carousel.slide .carousel-inner .carousel-item.active {
  height: 100%;
}
#restaurant-page-override #restaurant-image-carousel.carousel.slide .carousel-inner .carousel-item .d-flex,
#restaurant-page-override #restaurant-image-carousel.carousel.slide .carousel-inner .carousel-item.active .d-flex {
  height: 100%;
  justify-content: center;
}
#restaurant-page-override #restaurant-image-carousel.carousel.slide .carousel-inner .carousel-item .d-flex img,
#restaurant-page-override #restaurant-image-carousel.carousel.slide .carousel-inner .carousel-item.active .d-flex img {
  object-fit: contain;
}
#restaurant-page-override #reviews .review-author-image {
  width: 2.5rem;
  height: 2.5rem;
}
#restaurant-page-override #reviews .review-image-main {
  width: 15rem;
  height: 11.25rem;
  background-color: black;
  text-align: center;
  float: right;
}
#restaurant-page-override #reviews .review-image-main img {
  max-width: 100%;
  max-height: 11.25rem;
  object-fit: contain;
}
#restaurant-page-override #reviews .review-image-secondary {
  width: 7.5rem;
  height: 5.5rem;
  background-color: black;
  text-align: center;
  float: right;
}
#restaurant-page-override #reviews .review-image-secondary img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
#restaurant-page-override #reviews .review-image-table {
  float: right;
}
#restaurant-page-override #reviews .review-date {
  color: #919191;
}
#restaurant-page-override .hidden-category {
  display: none;
}
#full-screen-image-viewer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  display: none;
}
#full-screen-image-viewer span.oi.oi-x#close-button {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  margin: 54px 0 1rem 0;
  z-index: 1000001;
}
#full-screen-image-viewer table {
  background-color: black;
  height: 810px;
}
#full-screen-image-viewer table,
#full-screen-image-viewer table td {
  padding: 0;
  margin: 0 auto;
}
#full-screen-image-viewer table td#first-image {
  width: 1080px;
  height: 810px;
}
#full-screen-image-viewer table td#first-image img#main-image {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}
#full-screen-image-viewer table td#first-image #author-info {
  position: absolute;
  margin-top: -5rem;
  background-color: rgba(0, 0, 0, 0.25);
  margin-left: 1rem;
}
#full-screen-image-viewer table td#first-image #author-info img#author-image {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
}
#full-screen-image-viewer table td#first-image #author-info p {
  color: white;
  margin: 0 1rem;
}
#full-screen-image-viewer table td#first-image #next-image,
#full-screen-image-viewer table td#first-image #prev-image {
  position: absolute;
  width: 100px;
  cursor: pointer;
  height: inherit;
  margin-top: -810px;
}
#full-screen-image-viewer table td#first-image #next-image span,
#full-screen-image-viewer table td#first-image #prev-image span {
  position: absolute;
  padding: 20px;
  margin: -10px 0 0 -20px;
}
#full-screen-image-viewer table td#first-image #prev-image:hover span {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23bdbdbd' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
#full-screen-image-viewer table td#first-image #prev-image span {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23555555' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
#full-screen-image-viewer table td#first-image #next-image {
  margin-left: 980px;
}
#full-screen-image-viewer table td#first-image #next-image:hover span {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23bdbdbd' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
#full-screen-image-viewer table td#first-image #next-image span {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23555555' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
#full-screen-image-viewer table td#second-image,
#full-screen-image-viewer table td#third-image,
#full-screen-image-viewer table td#fourth-image {
  text-align: center;
  height: 270px;
  width: 360px;
}
#full-screen-image-viewer table td#second-image img,
#full-screen-image-viewer table td#third-image img,
#full-screen-image-viewer table td#fourth-image img {
  max-height: 100%;
  max-width: 100%;
}
#review-form .stars {
  direction: rtl;
  unicode-bidi: bidi-override;
  color: #919191;
  font-size: 30px;
}
#review-form .stars label {
  margin: 0;
}
#review-form .stars label.star {
  padding: 0 3px;
}
#review-form .stars label.star span.oi.oi-star {
  top: -1px;
}
#review-form input.star {
  position: absolute;
  top: 1.25rem;
  margin-right: 0.75rem;
  height: 5px;
  width: 5px;
}
#review-form input.star:checked label.star span::before,
#review-form input.star:checked ~ label.star span::before {
  color: #e69200;
}
#review-form label.star:hover,
#review-form label.star:hover ~ label.star span::before {
  color: #e69200;
}
#review-form #review-title {
  width: 100%;
}
#review-form #review-body {
  height: 6rem;
}
#review-form #review-video-div video#live-video {
  width: 100%;
}
#review-form #review-video-div button.camera-controls {
  position: absolute;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 30px;
  outline: none;
  margin: 0 auto;
  border: solid 2px;
  cursor: pointer;
}
#review-form #review-video-div button.camera-controls#take-photo {
  border-color: #3497b4;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
}
#review-form #review-video-div button.camera-controls#take-photo:active {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: #0061b4;
}
#review-form #review-video-div button.camera-controls#confirm-photo {
  display: none;
  border-color: #82d284;
  background-color: rgba(0, 205, 0, 0.3);
  left: 0;
  right: 4rem;
}
#review-form #review-video-div button.camera-controls#confirm-photo:active {
  background-color: rgba(0, 205, 0, 0.8);
  border-color: #00cd00;
}
#review-form #review-video-div button.camera-controls#cancel-photo {
  display: none;
  border-color: #ff6a74;
  background-color: rgba(205, 0, 0, 0.3);
  left: 4rem;
  right: 0;
}
#review-form #review-video-div button.camera-controls#cancel-photo:active {
  background-color: rgba(205, 0, 0, 0.8);
  border-color: #eb0000;
}
#review-form #review-video-div button.camera-controls span {
  color: white;
}
#review-form #review-images-taken {
  display: flex;
  justify-content: space-between;
}
#review-form #review-images-taken .review-image-container {
  width: 17.5%;
  display: none;
}
#review-form #review-images-taken .review-image-container .user-review-image {
  width: 100%;
  height: auto;
  background-color: black;
}
#review-form #review-images-taken .review-image-container .delete-button {
  cursor: pointer;
  outline: none;
  border: none;
  position: absolute;
  background-color: #dbdbdb;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  top: -0.75rem;
  margin-left: -0.75rem;
}
#review-form #review-images-taken .review-image-container .delete-button:active {
  background-color: #919191;
}
#review-form #review-images-taken .review-image-container .delete-button span {
  top: -2px;
  font-size: .8rem;
  color: black;
}
#review-form #add-photo-btn {
  width: 100%;
  height: 12rem;
  background-color: #dbdbdb;
}
#review-form #add-photo-btn button {
  border: solid 1px #222222;
  background-color: #3497b4;
}
#review-form #webRTC-col {
  display: none;
}
button#get-directions {
  margin: 0.5rem 0;
}
p#current-day {
  font-weight: 600;
}
#restaurant-current-map {
  width: 100%;
  height: 28rem;
}
#submitting-div {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: inherit;
  height: 105%;
  top: 0;
  left: 0;
}
#submitting-div #loading-div {
  width: 40%;
  left: 30%;
  position: absolute;
  background-color: #efefef;
  top: 25%;
  height: 50%;
  text-align: center;
}
#submitting-div #loading-div h3 {
  padding: 1rem;
}
#submitting-div #loading-div .loader {
  margin: 1rem auto;
  border: 0.25rem solid #dbdbdb;
  border-top: 0.25rem solid #919191;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card-header {
  border-bottom: none;
  padding: 0;
}
.card-header button {
  font-size: 16pt;
  color: #555555;
  display: block;
  padding: 1rem 1.25rem;
  width: 100%;
  text-align: left;
}
.card-header button:hover {
  text-decoration: none;
  color: #bdbdbd;
}
.card-header button:focus {
  text-decoration: none;
}
.card .new {
  display: none;
}
.card .collapse.show,
.card .collapsing {
  border-top: #dbdbdb 1px solid;
}
#collapse-details #first,
#collapse-details #last,
#collapse-details #postcode,
#collapse-details #old-password,
#collapse-details #new-password,
#collapse-details #new-password-confirm {
  width: 40%;
  margin-left: 1rem;
}
#collapse-details #password-divider {
  width: 40%;
  margin: 3px 1rem;
  border-top: #919191 1px solid;
}
#collapse-details #incorrect-old-password {
  margin-left: 1rem;
  padding: 6px 18px;
  display: none;
}
#search-bg-card {
  background-color: #efefef;
}
#search-form {
  margin: 1rem;
}
#search-form .input-group {
  border: solid 1px #919191;
  border-radius: 4px;
}
#search-input {
  font-size: 1.25rem;
}
#search-button {
  width: 100px;
}
#search-results-header {
  display: none;
}
#advanced-search-toggle {
  font-size: 1.2rem;
  color: #222222;
  padding-left: 12px;
}
#advanced-search-toggle:hover {
  color: #919191;
}
#advanced-search-card .card-header {
  background-color: #bdbdbd;
}
#advanced-search-collapsible #rating-slider,
#advanced-search-collapsible #distance-slider,
#advanced-search-collapsible #price-range-slider {
  padding-left: 0;
  padding-right: 0;
}
#advanced-search-collapsible span.oi.oi-star.star-highlight.ml-1.float-right {
  margin-top: 2px;
  font-size: 1rem;
}
@media (max-width: 1480px) {
  #full-screen-image-viewer table {
    height: 472px;
  }
  #full-screen-image-viewer table td#first-image {
    width: 630px;
    height: 472px;
  }
  #full-screen-image-viewer table td#first-image #next-image,
  #full-screen-image-viewer table td#first-image #prev-image {
    margin-top: -472px;
  }
  #full-screen-image-viewer table td#first-image #next-image {
    margin-left: 530px;
  }
  #full-screen-image-viewer table td#second-image,
  #full-screen-image-viewer table td#third-image,
  #full-screen-image-viewer table td#fourth-image {
    height: 157.33333333px;
    width: 210px;
  }
}
@media (max-width: 992px) {
  .input-group#index-search-group {
    width: 500px;
  }
  nav.navbar.navbar-expand-sm.sticky {
    position: unset;
  }
  nav.navbar.navbar-expand-sm.sticky ul {
    display: none;
  }
  a.login-helper {
    display: none;
  }
  p.login-helper {
    display: inline;
  }
  #burger-btn {
    display: flex;
  }
  p.restaurant-feature-false {
    display: none;
  }
  footer {
    font-size: 10pt;
  }
  footer ul li.list-inline-item {
    margin: 0 10px;
  }
  footer ul li.list-inline-item:not(:first-child):before {
    content: "";
    margin: 0;
  }
  .restaurant-nearby-images {
    float: none;
  }
  .restaurant-nearby-images .slideshow-wrapper {
    display: block;
    margin: 0 auto;
  }
  #res-col-4 {
    display: none;
  }
  img.index-image {
    margin-bottom: 20px;
  }
  #full-screen-image-viewer table {
    height: 236px;
  }
  #full-screen-image-viewer table td#first-image {
    width: 360px;
    height: 236px;
  }
  #full-screen-image-viewer table td#first-image #next-image,
  #full-screen-image-viewer table td#first-image #prev-image {
    margin-top: -236px;
  }
  #full-screen-image-viewer table td#first-image #next-image {
    margin-left: 260px;
  }
  #full-screen-image-viewer table td#second-image,
  #full-screen-image-viewer table td#third-image,
  #full-screen-image-viewer table td#fourth-image {
    height: 78.66666667px;
    width: 120px;
  }
}
@media (max-width: 768px) {
  .col #contact-info {
    width: 100%;
  }
  #restaurant-page-override #reviews .vert-center-child#review-image-container .review-image-main,
  #restaurant-page-override #reviews .vert-center-child#review-image-container #review-image-table {
    float: unset;
    margin: 0 auto;
  }
  img #restaurant-list .slideshow-wrapper.slideshow {
    float: none;
  }
  #res-col-3 {
    display: none;
  }
}
@media (max-width: 576px) {
  #res-col-2 {
    display: none;
  }
}
