@index-head-height: 480;
@index-head-bg-image: "/images/index-head-bg-image.png";

body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

// -------- NavBar -------- \\

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav {
  @nav-height: 54;
  height: unit(@nav-height, px);
  margin-top: unit(-@nav-height, px);
  background: url(@index-head-bg-image) no-repeat bottom;
}

nav.navbar.navbar-expand-sm.sticky{
  padding: 0;
}

li.nav-item{
  text-align: center;
}

ul.navbar-nav.mr-auto{
  margin-left: 50px;
}

ul.navbar-nav{
  margin-right: 50px;
}


a.nav-link{
  color: white;
  font-size: 14pt;
  padding: 15px;
  margin: 0 5px;
  &.nav-wide{
    width: 200px;
  }
  &.nav-thin{

    width: 120px;
  }
}


// -------- Index Head -------- \\

#index-head {
  text-align: center;
  background-size: cover;
  background: url(@index-head-bg-image) center no-repeat;
  width: 100%;
  height: unit(@index-head-height, px);
}

#index-search-form {
  @index-search-height: 40;
  position: relative;
  top: unit((@index-head-height - @index-search-height)/2, px);
  height: unit(@index-search-height, px);
  input {
    width: 600px;
    height: 100%;
  }
  button {
    width: 100px;
    height: 100%;
  }
}