doctype html
html(lang='en')
    head
        include scripts
    body
        include header
        include main_site_link
        block content

        include footer

        if (user)
            script const layoutUser = `!{JSON.stringify(user)}`;
        script(type='text/javascript', src='/javascripts/layout.js')