style(type='text/css').
    #main-site-link {
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: #d7d7d7;
        border-top: solid 2px black;
        border-left: solid 2px black;
        padding: 0.8rem;
        z-index: 1000000000;
        border-radius: 0.25rem 0 0 0;
    }

    #main-site-link a{
        color: black;
    }

#main-site-link
    a(href='https://willgarside.me') Back to willgarside.me