meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1.0')
title #{title}

script(src='/scripts/jquery.min.js')
script(type='application/javascript' src='/scripts/popper.js')
script(src='/scripts/js/bootstrap.min.js')

link(rel='stylesheet' href='/scripts/css/bootstrap.min.css')

link(href='/scripts/font/css/open-iconic-bootstrap.min.css', rel='stylesheet')

link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')

link(href='/stylesheets/roboto.css', rel='stylesheet')