block footer
    #footer-buffer
    footer.container-fluid
        .row.full-height
            .offset-3.col-3.vert-center-parent
                .vert-center-child
                    ul.list-inline
                        li.list-inline-item
                            a(href="/about") About
                        li.list-inline-item
                            a(href="/contact") Contact Us
                        li.list-inline-item
                            a(href="/accessibility") Accessibility
            .col-md-3.vert-center-parent
                .vert-center-child
                    p &copy; Restaurant Critique 2018. All Rights Reserved.
