doctype html
html(lang='en')
    head
        include scripts
    body
        include header

        block content

        include footer

        block scripts
            script(type='text/javascript', src='/javascripts/layout.js')