block restaurantPreview

    p Oh wow a restaurant!

    h5.text-center
        span.oi.oi-thumb-up.oi-space(aria-hidden='true')
        | Contribute your reviews
    img.index-image.img-thumbnail(src="/images/site/rate-restaurant-scaled.jpg" alt="")